<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>		
   <run>		
    <include name="Tester" />		
   </run>		
  </groups>	
    <classes>
      <class name="SeleniumQA_Pracs.SeleniumQA_Pracs.TestNGgroupsDay2"/>
      <class name="SeleniumQA_Pracs.SeleniumQA_Pracs.TestNGenabledDay2"/>
      <class name="SeleniumQA_Pracs.SeleniumQA_Pracs.TestNGpriorityDay2"/>
      <class name="SeleniumQA_Pracs.SeleniumQA_Pracs.TestNGdescriptionDay2"/>
      <class name="SeleniumQA_Pracs.SeleniumQA_Pracs.TestNGdependsOnmethodDay2"/>
      <class name="SeleniumQA_Pracs.SeleniumQA_Pracs.TestNGdemoDay1"/>
      <class name="SeleniumQA_Pracs.SeleniumQA_Pracs.TestNGdemo1Day1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
